.notification-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-body2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 11px;
}
.card-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    padding:10px;
}
.card-item{
    margin: auto;
}
.see-all-button{
    padding-left: 80px;
    padding-right: 80px;
    background: transparent;
    color: black;
}