.social-container{
    height: 300px;
}
.social-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social-title-box{
 
    display: flex;
    
    color: "#fff";
    
}
.social-title{
    color: #fff !important;
    
    margin-top: 15px;
}
.social-data1{
    display: grid;
    grid-template-columns:20% 80% ;
    color: #fff;
    
}

@media(max-width:830px){
    
    .social-container{
        width: 100%;
        height: 80vh;
        overflow-x: hidden;
    }
    .social-data1{
      grid-template-columns: 30% 70%;
 }
 .social-data-value{
    margin-left: 30px;
 }
   

}