body{
   overflow-x: hidden !important;
   font-family: "Roboto", serif;
   background:#050a17 !important;
   cursor:pointer
     /* background: linear-gradient(to bottom,#081844, #000000); */
}
.No_data{
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}
.nodata{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.content{
  color:white;
  font-weight: 600;
  margin-top: 5%;
}
td{
  font-size: 15px;
}
@media(max-width:830px){
tr th{
 white-space:nowrap;
}
tbody, td, tfoot, th, thead, tr {
  white-space:nowrap;
}
}